<div class="popup-wrapper">
  <div id="popup-container">
    <form class="editComment" method="POST" action="/everdecision/classes/<%= showPost.character %>/post/<%= showPost._id %>/<%= comment._id %>?_method=PUT">
      <textarea class="txtarea" name="body" id="comment" cols="30" rows="10"></textarea>
      <button type="submit">submit</i></button>
      </form>
      <p><a class="onclick" herf="javascript:void(0)" onclick="toggle_visibility('popup-position<%= comment._id %>');">Cancel</a></p>
  </div>
</div>