<footer>
  <div class="footer">
    <div class="copyright">
      <p>&#169; 2021</p>
    </div>
    <div class="designers">
      <p class="tag">DESIGNED BY: </p>
      <p class="designBy">JOSH JOHNSON</p>
      <h6>Everquest is a registered trademark of Daybreak Game Company LLC.</h6>
      <h6>EverDecision is not associated or affiliated in any way with Daybreak Game Company LLC.</h6>
    </div>
  </div>
</footer>