<footer>
  <div class="footer">
    <div class="copyright">
      <p>&#169; 2021</p>
    </div>
    <div class="designers">
      <p class="tag">DESIGNED BY: </p>
      <p class="designBy">JOSH JOHNSON</p>
    </div>
  </div>
</footer>