<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header>
  <nav>
    <li><a href="/everdecision">Home</a></li>
    <li><a href="/everdecision/login">Login</a></li>
  </nav>
  <div>
    <img src="/img/EverDecision.png" alt="EverDecision" class="img">
  </div>
</header>