<header>
  <marquee class="navBar" behavior="scroll" direction="left">An unofficial EverQuest Site to help you decide WTF you want to play!</marquee>
  <nav class="navBar">
    <a href="/everdecision"><button class="navLink">Home</button></a>
    <a href="/everdecision/login"><button class="navLink">Login</button></a>
  </nav>
  <div>
    <img src="/img/EQlogo1.jpg" alt="EverDecision" class="eqimg">
  </div>
</header>