<header>
  <nav class="navBar">
    <button class="navLink"><a href="/everdecision">Home</a></button>
    <h2>A Site to help you decide WTF you want to play!</h2>
    <button class="navLink"><a href="/everdecision/login">Login</a></button>
  </nav>
  <div>
    <img src="/img/EQlogo1.jpg" alt="EverDecision" class="eqimg">
  </div>
</header>