<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link  href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,bold" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" >
    <link  href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold" rel="stylesheet" type="text/css" >
    <title>EverDecision</title>
  </head>

<%- include('./partials/header') %>

<main class="mainPost">
  <div class="editDeleteBtns">
      <form action="/everdecision/classes/<%= showPost.character %>/post/<%= showPost._id %>?_method=PUT" method="POST">
        <div class="postName">
            <input class="input" type="text" id="name" name="name" placeholder="Whats your name?">
        </div>
        <div class="postTopic">
            <input class="input" type="title" id="title" name="title" placeholder="Title of Post">
        </div>
        <div class="postBody">
            <textarea class="txtarea" name="body" id="body" cols="30" rows="10" placeholder="Post a Topic to talk about"></textarea>
        </div>
        <div class="postImg">
            <input class="input" type="text" id="img" name="img" placeholder="Add a Link to an Image">
        </div>
        <button class="postThread" type="submit">UPDATE THREAD</button>
    </form>
  </div>
</main>

<%- include('./partials/footer') %>

</html>