<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<header>
  <nav>
    <li><a href="/everdecision">Home</a></li>
    <li><a href="/everdecision/login">Login</a></li>
  </nav>
  <div>
    <img src="/img/EverDecision.png" alt="EverDecision" class="img">
  </div>
</header>
<body>
  <nav>
    <% for (let i = 0; i < allClasses.length; i++) { %>
      <a href="/everdecision/classes/<%= allClasses[i]._id %>">
        <p>
          <%= allClasses[i].cClass %>
        </p>
      </a>
    <% } %> 
  </nav>
</body>
<div class="footer">
  <div class="copyright">
      <p>&#169; 2021</p>
  </div>
  <div>
      <p class="tag">DESIGNED BY: </p>
      <p class="designBy">JOSH JOHNSON</p>
  </div>
</div>
</html>