<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello!</h1>
  <nav>
    <li><a href="/everdecision">Home</a></li>
    <li><a href="/everdecision/login">Login</a></li>
  </nav>
  <div>
    <img src="/img/EverDecision.png" alt="EverDecision" class="img">
  </div>
  <nav>
      <li><a href="/everdecision/classes/bard">Bard</a></li>
      <li><a href="/everdecision/classes/cleric">Cleric</a></li>
      <li><a href="/everdecision/classes/druid">Druid</a></li>
      <li><a href="/everdecision/classes/enchanter">Enchanter</a></li>
      <li><a href="/everdecision/classes/magician">Magician</a></li>
      <li><a href="/everdecision/classes/monk">Monk</a></li>
      <li><a href="/everdecision/classes/necromancer">Necromancer</a></li>
      <li><a href="/everdecision/classes/paladin">Paladin</a></li>
      <li><a href="/everdecision/classes/ranger">Ranger</a></li>
      <li><a href="/everdecision/classes/rogue">Rogue</a></li>
      <li><a href="/everdecision/classes/shadowknight">Shadowknight</a></li>
      <li><a href="/everdecision/classes/shaman">Shaman</a></li>
      <li><a href="/everdecision/classes/warrior">Warrior</a></li>
      <li><a href="/everdecision/classes/wizard">Wizard</a></li>
  </nav>
</body>
</html>