<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bard</title>
</head>
<body>
  <h1>Bard</h1>
  <div>
    <img src="/img/C_bard.gif" alt="bardgif">
  </div>
  <div>
    <p>
      Bards are jack-of-all-trades adventurers who use songs to create a wide variety of magical effects. Though they often use melee weapons, bards are primarily a magic-using class, with the ability to wear plate armor and wield many different types of weapons and instruments.

      Bards can do a little bit of everything. Their songs can regenerate health and mana, increase attack speed and accuracy, momentarily charm angry enemies, help friends resist many types of damage and even directly damage enemies. Bards are perhaps best known, however, for their ability to greatly increase the foot speed of their group.
      
      Bards have the unique ability to create multiple effects at once. By weaving different songs together, a bard can customize effects to any situation. This makes nimble fingers and quick thinking a must for those who want to play a bard.
      
      Bards do well both alone and in groups. With the right combination of songs, they can adapt to many different challenges. The bard is a great class for players who enjoy a wide variety of play options but are quick to adapt to a changing situation.
    </p>
  </div>
  <div>
    <input type="text" name="title">
  </div>
</body>
</html>